<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.furp.mapper.AvailableTimeMapper">
    <insert id="batchInsertFromTimeSlots">
        INSERT INTO available_time (teacher_id, time_slot_id)
        VALUES
        <foreach collection="timeSlotIds" item="id"  separator="," >
            (#{teacherId}, #{id})
        </foreach>
    </insert>

</mapper>