<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.furp.mapper.SkillMapper">
    <select id="pageQuery" resultType="com.furp.VO.ResearchAreasVO">
        SELECT
        s.id,
        s.skill_name AS name,
        s.status,
        s.submittedAt AS createDate,
        (
        (SELECT COUNT(*) FROM phd_skill ps WHERE ps.skill_id = s.id)
        +
        (SELECT COUNT(*) FROM teacher_skill ts WHERE ts.skill_id = s.id)
        ) AS userCount
        FROM
        skill s
        <where>
            <if test="keyword != null and keyword != ''">
                s.skill_name LIKE concat('%', #{keyword}, '%')
            </if>
        </where>
        ORDER BY
        s.id DESC
    </select>

    <select id="findPending" resultType="com.furp.VO.PendingResearchAreaVO">
        SELECT
        s.id,
        s.skill_name AS name,
        s.status,
        s.submittedAt AS submitDate,
        t.name AS submitter
        FROM
        skill s
        LEFT JOIN
        teacher_skill ts ON s.id = ts.skill_id
        LEFT JOIN
        teacher t ON ts.teacher_id = t.id
        <where>
            s.status = 'pending'
            <if test="keyword != null and keyword != ''">
                AND s.skill_name LIKE concat('%', #{keyword}, '%')
            </if>
        </where>
        ORDER BY
        s.submittedAt ASC
    </select>

    <insert id="insertResearchAreaDetail" parameterType="com.furp.DTO.ResearchAreaDetail"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO skill
            (skill_name, status, submittedAt, approvedAt)
        VALUES
            (#{name}, #{status}, #{createdAt}, #{approvedAt})
    </insert>

</mapper>